body {
    background-color: #282922;
    color: white;
    width: 300px;
}

table {
    border-collapse: collapse;
    font-size: 12px;
}

tr {
    border-bottom: 1px #a4c800 solid;
}

tr:last-child {
    border-bottom: none !important;
}

tr:hover {
    background-color: #303030;
}

tr:last-child:hover {
    background-color: #282922 !important;
}

input[type=number], input[type=submit] {
    background-color: #303030;
    color: white;
    border-radius: 5px;
    border: 1px #a4c800 solid;
    width: 50px;
}

input[type=submit]:hover {
    background-color: #a4c800;
}

input[type=submit] {
    margin-top: 5px;
    padding: 0px;
    height: 25px;
}

input[type=checkbox] {
    height: 25px;
    width: 25px;
}


input[type=checkbox]:checked:before {
	color: black !important;
}

/* unvisited and visited link */
a:link, a:visited {
    color: #a4c800;
}

a:hover, a:active {
    color: #e2fb72;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}